---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %} <!--site.posts -->
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
  
  <!-- 以下为分页代码 -->
  {% if paginator.total_pages > 1 %}
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"上一页</a>
    {% endif %}
    
  
  {% endif %}
</div>
